.cart {
  @apply w-full;
}

.cartBtn {
  @apply relative !bg-[#f2f2f2] lg:!bg-transparent hover:!bg-[#f2f2f2] p-3 lg:p-2 rounded lg:rounded-full flex items-center w-full;
}

.text {
  @apply mx-2 font-medium lg:hidden;
}

.cartQuantity {
  @apply lg:text-white lg:absolute -top-2 lg:-top-3 -right-2 lg:bg-red-400 rounded-full w-5 h-5 text-xs leading-5 font-medium text-center;
}

@media (max-width: 1023px) {
  .cartQuantity::before {
    content: '(';
  }
  .cartQuantity::after {
    content: ')';
  }
}

.cartSidebarMain {
  @apply h-full flex flex-col justify-between;
}

.cartSidebarMain.emptyCart {
  @apply justify-start;
}

.cartSidebarHeader {
  @apply flex justify-between items-center px-5 py-4 border-b;
}

.cartSidebarHeader h4 {
  @apply text-lg font-medium flex items-center;
}

.cartSidebarHeader h4 span {
  @apply ml-2;
}

.cartItems {
  @apply grow px-5 py-4 max-h-[100%] overflow-auto;
}

.emptyCart .cartItems {
  @apply flex justify-center items-center text-center;
}

.emptyCart .cartItems h4 {
  @apply text-xl font-medium;
}

.cartSidebarFooter {
  @apply flex justify-between items-center px-5 py-4 border-t;
}
