.modal {
  @apply fixed top-0 left-0 z-50 w-full h-full overflow-x-hidden overflow-y-auto outline-none bg-[#000000bd] hidden px-5;
}

.modalOpen {
  @apply flex items-center justify-center;
}

.modalBody {
  @apply rounded-2xl bg-white overflow-hidden relative;
}

.modalContent {
  @apply w-96 h-96 max-w-full;
}

.closeModalBtn {
  @apply absolute top-2 right-2 text-xl w-8 h-8 !bg-red-500 text-white flex items-center justify-center rounded-full;
}
