.navBtn {
  @apply flex items-center !bg-[#f2f2f2] lg:!bg-transparent hover:!bg-[#f2f2f2] w-full text-center p-3 lg:p-2 rounded lg:rounded-full;
  margin-left: 10px !important;
}

@media (max-width: 1023px) {
  .navBtn {
    margin-left: 0 !important;
  }
}

.navBtn .text {
  @apply mx-2 font-medium lg:hidden;
}
